.Header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6800b8;  
    overflow: hidden;  
    border-radius: 5px;
}


.TodoHeader{  
    padding: 10px;
    text-align: center;
    top: 0;
    font-size: 24px
}

.Image{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding: 10px;
    margin-left: 36px;
}